<!--/****************************************************************
Copyright 2021 Infosys Ltd. 
Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at 
http://www.apache.org/licenses/
 ***************************************************************/-->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="LISettings" type="Infosys.Lif.LegacyIntegratorService.ConfigHandler, Infosys.Lif.LegacyIntegratorService"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.13.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <LISettings configSource="Configuration\LISettings.config"/>
  <loggingConfiguration name="WEMLogging" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="WEMLogsStore" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" traceOutputOptions="DateTime"/>
      <add fileName="tracelog.xml" name="XML Trace Listener" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.XmlTraceListenerData,Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.XmlTraceListener,Microsoft.Practices.EnterpriseLibrary.Logging"/>
      <add name="WriteToFileListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
		   listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
		   fileName="C:\Infosys\Logs\IAPlogs.log" footer="----------------------------------------"
		   formatter="WriteToFile Formatter" header="----------------------------------------"
		   rollFileExistsBehavior="Increment" rollInterval="None" rollSizeKB="5000"
		   timeStampPattern="yyyy-MM-dd" maxArchivedFiles="365" traceOutputOptions="Callstack, LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId"
		   filter="All" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template=
           "ActivityId: {property(ActivityId)}{newline}
Timestamp: {timestamp}{newline}
Message: {message}{newline}
Category: {category}{newline}
Priority: {priority}{newline}
EventId: {eventid}{newline}
Severity: {severity}{newline}
Title:{title}{newline}
Machine: {localMachine}{newline}
App Domain: {localAppDomain}{newline}
ProcessId: {localProcessId}{newline}
Process Name: {localProcessName}{newline}
Thread Name: {threadName}{newline}
Win32 ThreadId:{win32ThreadId}{newline}
Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template=
           "ActivityId: {property(ActivityId)}{newline}
Timestamp: {timestamp}{newline}
Message: {message}{newline}
Category: {category}{newline}
Priority: {priority}{newline}
EventId: {eventid}{newline}
Severity: {severity}{newline}
Title:{title}{newline}
Extended Properties: {dictionary({key} - {value}{newline})}" name="WriteToFile Formatter"/>
    </formatters>
    <categorySources>

      <add switchValue="All" name="WriteToFileLogging">
        <listeners>
          <add name="WriteToFileListener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="System.ServiceModel">
        <listeners>
          <add name="XML Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Database Trace Listener"/>
          <add name="XML Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Performance">
        <listeners>
          <add name="Database Trace Listener"/>
          <add name="XML Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Statistics">
        <listeners>
          <add name="Database Trace Listener"/>
          <add name="XML Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="MessageArchive">
        <listeners>
          <add name="Database Trace Listener"/>
          <add name="XML Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="ScriptTracking">
        <listeners>
          <add name="Database Trace Listener"/>
          <add name="XML Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Database Trace Listener"/>
          <add name="XML Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Default Policy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="0"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>

  <dataConfiguration defaultDatabase="WEMLogsStore"/>
  <connectionStrings>
    <add name="WEMLogsStore" connectionString="Database=IAPWEM_Logs;Server=scc_dbserver;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
   <add name="IAP_InfrastructureStoreEntities" connectionString="metadata=res://*/EFModel.ApplicationLogModel.csdl|res://*/EFModel.ApplicationLogModel.ssdl|res://*/EFModel.ApplicationLogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=scc_dbserver;initial catalog=IAP_InfrastructureStore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="TrackUsage" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--<connectionString value="Database=IAP_InfrastructureStore;Server=scc_dbserver;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
      <connectionString value="Database=IAPWEM_Logs;Server=scc_dbserver;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
      <commandText value="dbo.WriteAppInfo" />
      <commandType value="StoredProcedure" />
      <parameter>
        <parameterName value="@Timestamp" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@UserAlias" />
        <dbType value="AnsiString" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%property{UserAlias}" />
      </parameter>
      <parameter>
        <parameterName value="@MachineName" />
        <dbType value="AnsiString" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%property{MachineName}" />
      </parameter>
      <parameter>
        <parameterName value="@MachineIP" />
        <dbType value="AnsiString" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%property{MachineIP}" />
      </parameter>
      <parameter>
        <parameterName value="@HostName" />
        <dbType value="AnsiString" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%property{HostName}" />
      </parameter>
      <parameter>
        <parameterName value="@ApplicationVersion" />
        <dbType value="AnsiString" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%property{ApplicationVersion}" />
      </parameter>
      <parameter>
        <parameterName value="@Is64Bit" />
        <dbType value="Boolean" />
        <layout type="log4net.Layout.PatternLayout" value="%property{Is64Bit}" />
      </parameter>
      <parameter>
        <parameterName value="@Module" />
        <dbType value="AnsiString" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%property{Module}" />
      </parameter>
      <parameter>
        <parameterName value="@FunctionName" />
        <dbType value="AnsiString" />
        <size value="250" />
        <layout type="log4net.Layout.PatternLayout" value="%property{FunctionName}" />
      </parameter>
      <parameter>
        <parameterName value="@Data" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout" value="%property{Data}" />
      </parameter>
      <parameter>
        <parameterName value="@TransactionID" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout" value="%property{TransactionID}" />
      </parameter>
    </appender>
    <appender name="TrackUsageOfflineAppender" type="Infosys.WEM.Infrastructure.Common.HeaderOnceAppender, WEM.Infrastructure.Common">
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="TrackUsageOffline" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file type="log4net.Util.PatternString" value="trkrusg\iap_trackusage.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date"/>
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="200" />
      <datePattern value="MMddyyyyHH" />      
      <!--<datePattern value="MMddyyyyHHmm" />-->
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
         <header value="Timestamp,UserAlias,MachineName,MachineIP,HostName,ApplicationVersion,Is64Bit,Module,FunctionName,TransactionID,Data" />
        <conversionPattern value="%newline%property{Timestamp},%property{UserAlias},%property{MachineName},%property{MachineIP},%property{HostName},%property{ApplicationVersion},%property{Is64Bit},%property{Module},%property{FunctionName},%property{TransactionID},%property{Data}" />
      </layout>

    </appender>
    <appender name="General" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="GeneralLogger" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file type="log4net.Util.PatternString" value="D:\Test\Logs\iap_general.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="200" />
      <datePattern value="MMddyyyyHHmm'.log'" />
      <!--<datePattern value="MMddyyyyHHmm" />-->
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%property{eventId},%level,%property{severity},%property{title},%timestamp,%property{log4net:HostName},%appdomain,%property{pid},%property{pname},%property{threadName},%thread,%message,%property{formattedMessage}" />
      </layout>
    </appender>
    <appender name="Performance" type="Infosys.WEM.Infrastructure.Common.HeaderOnceAppender, WEM.Infrastructure.Common">
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="PerformanceLogger" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="D:\Test\Logs\iap_performance.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date"/>
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="200" />
      <datePattern value="MMddyyyyHH" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
         <header value="eventId,level,severity,title,timestamp,HostName,appdomain,pid,pname,threadName,thread,message,formattedMessage" />
        <conversionPattern value="%newline%property{eventId},%property{Priority},%property{severity},%property{title},%property{Timestamp},%property{log4net:HostName},%appdomain,%property{pid},%property{pname},%property{threadName},%thread,%message,%property{formattedMessage}" />
      </layout>
    </appender>
    <appender name="Statistics" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="StatisticsLogger" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="D:\Test\Logs\iap_statistics.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="200" />
      <datePattern value="MMddyyyyHH" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%property{eventId},%level,%property{severity},%property{title},%timestamp,%property{log4net:HostName},%appdomain,%property{pid},%property{pname},%property{threadName},%thread,%message,%property{formattedMessage}" />
      </layout>
    </appender>
    <appender name="MessageArchive" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="MessageLogger" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="D:\Test\Logs\iap_archivedMessages.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />
      <datePattern value="MMddyyyyHH" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%property{eventId},%level,%property{severity},%property{title},%timestamp,%property{log4net:HostName},%appdomain,%property{pid},%property{pname},%property{threadName},%thread,%message,%property{formattedMessage}" />
      </layout>
    </appender>
    <appender name="ScriptTracking" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="ScriptTrackingLogger" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="D:\Test\Logs\iap_scriptTracking.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />
      <datePattern value="MMddyyyyHH" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%property{eventId},%level,%property{severity},%property{title},%timestamp,%property{log4net:HostName},%appdomain,%property{pid},%property{pname},%property{threadName},%thread,%message,%property{formattedMessage}" />
      </layout>
    </appender>
    <appender name="WFTracking" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="WFTrackingLogger" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <file value="D:\Test\Logs\iap_wfTracking.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />
      <datePattern value="MMddyyyyHH" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%property{eventId},%level,%property{severity},%property{title},%timestamp,%property{log4net:HostName},%appdomain,%property{pid},%property{pname},%property{threadName},%thread,%message,%property{formattedMessage}" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger - %message" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="Trace" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="AdoNetAppender" />
      <appender-ref ref="TrackUsageOfflineAppender" />
      <appender-ref ref="General" />
      <appender-ref ref="Performance" />
      <appender-ref ref="Statistics" />
      <appender-ref ref="MessageArchive" />
      <appender-ref ref="ScriptTracking" />
      <appender-ref ref="WFTracking" />
      <appender-ref ref="TraceAppender" />
    </root>
  </log4net>

  <appSettings>
    <!--<add key="LogProvider" value="log4Net"/>-->
    <add key="EnableAllLogs" value="true"/>
    <add key="TrackUsageConnString" value="Database=IAPWEM_Logs;Server=scc_dbserver;Integrated Security=SSPI"/>
  </appSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
</configuration>
