<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://scc_dbserver</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>scc_dbserver</MSDeployServiceURL>
    <DeployIisAppPath>default web site/iapwemservices</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>username</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataEntity" Order="1" Enabled="False">
          <Destination Path="Data Source=scc_dbserver;Initial Catalog=IAP_WorkflowExecutionStore;Integrated Security=True;Application Name=EntityFramework" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=scc_dbserver;Initial Catalog=IAP_WorkflowExecutionStore;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DataEntity_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/WorkflowExecutionStore.csdl|res://*/WorkflowExecutionStore.ssdl|res://*/WorkflowExecutionStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=scc_dbserver;initial catalog=IAP_WorkflowExecutionStore;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WEMLogsStore" Order="2" Enabled="False">
          <Destination Path="Data Source=scc_dbserver;Initial Catalog=IAPWEM_Logs;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=scc_dbserver;Initial Catalog=IAPWEM_Logs;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WEMLogsStore_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Database=IAPWEM_Logs;Server=scc_dbserver;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>True</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataEntity-Web.config Connection String">
      <ParameterValue>metadata=res://*/WorkflowExecutionStore.csdl|res://*/WorkflowExecutionStore.ssdl|res://*/WorkflowExecutionStore.msl;provider=System.Data.SqlClient;provider connection string="data source=scc_dbserver;initial catalog=IAP_WorkflowExecutionStore;integrated security=True;application name=EntityFramework;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WEMLogsStore-Web.config Connection String">
      <ParameterValue>Data Source=scc_dbserver;Initial Catalog=IAPWEM_Logs;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>