<?xml version="1.0"?>
<!--/****************************************************************
Copyright 2021 Infosys Ltd. 
Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at 
http://www.apache.org/licenses/
 ***************************************************************/-->

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <system.web>
    <authentication mode="None" />
    <httpCookies httpOnlyCookies="true"></httpCookies>
    <httpModules>

    </httpModules>
    <httpRuntime executionTimeout="999999" maxRequestLength="41943040" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">

<add name="DocHttpModule" type="Infosys.PPTWare.Infrastructure.ApplicationCore.HttpModule.Document"/>
    </modules>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="41943040"/>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <!--<add key="DefaultCompanyId" value="ddc9fa0a-2462-49bf-8283-c48b75a6254d" />-->
  </appSettings>
</configuration>
