<?xml version="1.0"?>
<!--
  Copyright 2021 Infosys Ltd. 
Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at 
http://www.apache.org/licenses/
  -->
<configuration>
  <appSettings>
    <!--The options for ExecutionMode are Default, ControlLookup, Snapper-->
    <add key="ExecutionMode" value="ControlLookup"/>
    <add key="Functions" value="FindAll;FromPoint;TryGetCurrentPattern;GetSupportedPatterns;GetCurrentPattern;GetClickablePoint;FromHandle;ToString;SetFocus;GetType"/>
    <!--The order of the element type and the corressponding icon should be same. Element type must not be repeated. Avoid spaces in at the start and end of the element type.-->
    <add key="UIElementTypes" value="desktop;window;pane;panel;dialog;button;push button;text;edit;document;label;image;hyperlink;link;status bar;menu bar;title bar;tool bar;scroll bar;check box;radio button"/>
    <add key="UIElementIcons" value="desktop.jpg;window.jpg;pane.jpg;pane.jpg;dialog.jpg;button.jpg;button.jpg;text.jpg;text.jpg;text.jpg;text.jpg;photo.png;hyperlink.jpg;hyperlink.jpg;status_bar.jpg;menu_bar.jpg;title_bar.jpg;tool_bar.jpg;scroll_bar.jpg;check_box.jpg;radio_button.jpg"/>
    <add key="ObjectModelPath" value="D:\IMS\temp"/>
    <!--The setting to tell that while saving Object Model, if the control images are to be also kept in folder hierarchy in line with their occurrence-->
    <add key="CopyImageToRespectiveFolders" value="true"/>
    <!--to tell the language for which the class to be generated. e.g. for C#-> 'csharp'. Accordingly provide the switch-case in method- ReflectClassesInObjectModel-->
    <add key="CodeForLanguage" value="csharp"/>
    <!--to tell if class files need to be generated only for the node which are manually selected-->
    <add key="GenerateClassFilesForManualSelection" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
