<?xml version="1.0" encoding="utf-8"?>
<!--
  /****************************************************************
Copyright 2021 Infosys Ltd. 
Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at 
http://www.apache.org/licenses/
 ***************************************************************/
 -->
<LISettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- Provide region details of the host -->
  <HostRegion>

    <Region>
      <Name>WorkflowRepository</Name>
      <!-- use the transport medium and name from the below mentioned transport types -->
      <TransportMedium>IISDoc</TransportMedium>
      <TransportName>workflowstore</TransportName>
      <!--Communication Type can be "Sync" or "Async" for synchronous and asynchronous respectively -->
      <CommunicationType>Sync</CommunicationType>
    </Region>
    <Region>
      <Name>ScriptRepository</Name>
      <!-- use the transport medium and name from the below mentioned transport types -->
      <TransportMedium>IISDoc</TransportMedium>
      <TransportName>scriptstore</TransportName>
      <!--Communication Type can be "Sync" or "Async" for synchronous and asynchronous respectively -->
      <CommunicationType>Sync</CommunicationType>
    </Region>
  </HostRegion>
  <!-- Provide all details Document handling through IIS -->
  <IISDoc xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <DllPath>C:\IAP\References\Infosys.Lif.IISDoc.dll</DllPath>
    <TypeName>Infosys.Lif.IIS_DocAdapter</TypeName>
    <IISDocDetails>
      <TransportName>workflowstore</TransportName>
      <!--The size of the block in KB to be transferred at a time. Default is 1 KB-->
      <DataBlockSize>250</DataBlockSize>
      <!--The virtual directory (VD) where the docs will be uploaded. It has to be after the root VD. i.e. if the 
        upload VD is to be http://locahost/documents/<then the file name>, then the value sould be "documents"-->
      <DocumentsVirtualDirectoryFromRoot>iapworkflowstore</DocumentsVirtualDirectoryFromRoot>
    </IISDocDetails>
    <IISDocDetails>
      <TransportName>scriptstore</TransportName>
      <!--The size of the block in KB to be transferred at a time. Default is 1 KB-->
      <DataBlockSize>250</DataBlockSize>
      <!--The virtual directory (VD) where the docs will be uploaded. It has to be after the root VD. i.e. if the 
        upload VD is to be http://locahost/documents/<then the file name>, then the value sould be "documents"-->
      <DocumentsVirtualDirectoryFromRoot>iapscriptstore</DocumentsVirtualDirectoryFromRoot>
    </IISDocDetails>
  </IISDoc>
  
</LISettings>
