<?xml version="1.0"?>
<!--
  Copyright 2021 Infosys Ltd. 
Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at 
http://www.apache.org/licenses/
  -->
<configuration>
  <appSettings>
    <!--<add key="PreviewUsecaseLocation" value="c:\Usecase\Preview"/>-->
    <add key="UsecaseLocation" value="recording\recordingfiles\atrs"/>
    <!--<add key="PreviewTaskImageLocation" value="D:\recording\images"/>-->
    <add key="MaxElementIdenficationTrials" value="3"/>
    <add key="GapBetweenTrials" value="500"/>
    <add key="CaptureTaskImage" value="true"/>
    <add key="TaskImageLocation" value="recording\recordingfiles\images"/>
    <add key="TaskImageHeight" value="50"/>
    <add key="TaskImageWidth" value="100"/>
		<add key="GenerateLog" value="true"/>
    <add key="ExtractDataLog" value="true"/>
    <add key="CodeGenerationLoc" value="recording\recordingfiles\CodeGeneration"/>
    <!--Put the search engine name of IE here by default its Bing-->
    <add key ="WebSearchEngine" value=""/>
  </appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
