<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="LISettings" type="Infosys.Lif.LegacyIntegratorService.ConfigHandler, Infosys.Lif.LegacyIntegratorService"/>
  </configSections>

  <loggingConfiguration name="WEMLogging" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="WEMLogsStore" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" traceOutputOptions="DateTime"/>
      <add fileName="iap_node.log" name="XML Trace Listener" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.XmlTraceListenerData,Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.XmlTraceListener,Microsoft.Practices.EnterpriseLibrary.Logging"/>
      <add name="IAP Center" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="IAPCenterStore" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" traceOutputOptions="DateTime"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template=
           "ActivityId: {property(ActivityId)}{newline}
Timestamp: {timestamp}{newline}
Message: {message}{newline}
Category: {category}{newline}
Priority: {priority}{newline}
EventId: {eventid}{newline}
Severity: {severity}{newline}
Title:{title}{newline}
Machine: {localMachine}{newline}
App Domain: {localAppDomain}{newline}
ProcessId: {localProcessId}{newline}
Process Name: {localProcessName}{newline}
Thread Name: {threadName}{newline}
Win32 ThreadId:{win32ThreadId}{newline}
Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template=
           "ActivityId: {property(ActivityId)}{newline}
Timestamp: {timestamp}{newline}
Message: {message}{newline}
Category: {category}{newline}
Priority: {priority}{newline}
EventId: {eventid}{newline}
Severity: {severity}{newline}
Title:{title}{newline}
Extended Properties: {dictionary({key} - {value}{newline})}" name="WriteToFile Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="Off" name="System.ServiceModel">
        <listeners>
          <add name="XML Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Warning" name="General">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="Performance">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Information" name="Statistics">
        <listeners>
          <add name="IAP Center"/>
        </listeners>
      </add>
      <add switchValue="Off" name="MessageArchive">
        <listeners>
          <add name="Database Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Information" name="ScriptTracking">
        <listeners>
          <add name="IAP Center"/>
        </listeners>
      </add>
      <add switchValue="Information" name="WFTracking">
        <listeners>
          <add name="IAP Center"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Database Trace Listener"/>
          <add name="XML Trace Listener"/>
          <add name="IAP Center"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="WEMLogsStore"/>
  <connectionStrings>
    <add name="WEMLogsStore" connectionString="Database=IAPWEM_Logs;Server=localhost\MSSQLPPTware;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="IAPCenterStore" connectionString="Database=IAPWEM_Logs;Server=localhost\MSSQLPPTware;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <LISettings configSource="Configuration\LISettings.config"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="tcpPort" value="9002"/>
    <add key="httpPort" value="9001"/>
    <add key="ExecutionEngineSupported" value="1"/>
    <!--reading the service end points details from the client configuration instead of appsettings -->
    

    <add key="Company" value="1"/>
    <add key="IfeaRuntimePath" value="D:\IMS\ifea\runtime\IFEA-Engine.exe"/>
    <add key="PythonInterpreterLoc" value="D:\Python27\python.exe"/>
    <add key="IapdInterpreter" value="D:\IAP\ATR-FEA\Code\ATR\Infosys.ATR.Interpreter.Iapd\bin\Debug\iapd.exe"/>
    <!--This option is for running python script on 32 bit machine. Specify UNC path for the same-->
    <add key="PythonInterpreterRemoteLoc32" value="\\localhost\iap\python\ipy.exe"/>
    <!--This option is for running python script on 64 bit machine. Specify UNC path for the same-->
    <add key="PythonInterpreterRemoteLoc64" value="\\localhost\iap\python\ipy64.exe"/>
    <add key="ServiceBaseUrl" value="http://localhost"/>
    <add key="EnableAllLogs" value="true"/>
    <add key="Mode" value="Online"/>
  </appSettings>

  <system.serviceModel>
      <services>
      <service behaviorConfiguration="NodeServiceBehave" name="Infosys.ATR.AutomationExecutionLib.NodeService">
        <!--<endpoint address="" binding="basicHttpBinding" contract="Infosys.ATR.AutomationEngine.Contracts.INodeService"/>-->
        <endpoint address="" bindingConfiguration="WindowsClientOverNetTcp" binding="netTcpBinding" contract="Infosys.ATR.AutomationEngine.Contracts.INodeService"/>
        <endpoint address="rest" name="restEndpoint" contract="Infosys.ATR.AutomationEngine.Contracts.INodeService" kind="webHttpEndpoint" endpointConfiguration="restEndpointWithHelp"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/iap"/>
            <add baseAddress="net.tcp://localhost:9002/iap"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="WindowsClientOverNetTcp">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NodeServiceBehave">
          <serviceSecurityAudit auditLogLocation="Application"
            suppressAuditFailure="false"
            serviceAuthorizationAuditLevel="SuccessOrFailure"
            messageAuthenticationAuditLevel="SuccessOrFailure" />
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="restEndpointWithHelp" helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json" maxReceivedMessageSize="4194304">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging"
          publicKeyToken="31bf3856ad364e35"
          culture="neutral" />

        <bindingRedirect oldVersion="5.0.414.0" newVersion="5.0.505.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
