<?xml version="1.0" encoding="utf-8"?>
<!--/****************************************************************
Copyright 2021 Infosys Ltd. 
Use of this source code is governed by Apache License Version 2.0 that can be found in the LICENSE file or at 
http://www.apache.org/licenses/
 ***************************************************************/-->
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework6.Npgsql" version="3.2.1.1" targetFramework="net45" />
  <package id="Npgsql" version="4.0.7" targetFramework="net45" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net45" />
  <package id="System.Memory" version="4.5.3" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
</packages>